<%- include('./partials/userHeader'); %>

<h1 class="big-title">Developer Forums</h1>
<div class="big-container">
    <div class="smaller-container">
        <div class="login-form">
            <h2 class="login-title">Login to your account</h2>
            <form action="/users/signin" method="post">
                <label>Email:
                    <input type="email" name="username" class="form-control" placeholder="Email"/>
                </label>
                <label>Password: 
                    <input type="password" name="password" class="form-control" placeholder="Password"/>
                </label>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            <h3>Don't have an account?</h3>
            <a href="/users/new">Sign up here</a>
        </div>
    </div>
    <small id="copyright">Copyright &copy; 2021, Developer Forums. All Rights Reserved</small>
</div>


<%- include('./partials/footer'); %> 