<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Forum | Log in/Sign up</title>
</head>

<body>
    <h1>Welcome to the Dev Forum!</h1>
    <p>Please sign in to continue to the forums</p>

<% - include('./partials/footer'); %> 