<%- include('./partials/userHeader'); %>

<div class="login-form">
    <h1 class="login-title">Log in to your account</h1>
    <form action="/users/signin" method="post">
        Username: <input type="text" name="username"/><br>
        Password: <input type="password" name="password"/><br>
        <input type="submit" value="Log in">
    </form>
    <h4>Don't have an account?</h4>
    <a href="/users/new">Sign up here</a>
</div>

<footer>
    <small id="copyright">Copyright &copy; 2021, Developer Forums. All Rights Reserved</small>
</footer>

<%- include('./partials/footer'); %> 