h1 {
    color: red;
}

body {
    background: white;
}

.forum-post, .response-post {
    position: relative;
    background: white;
    border-radius: 10px; 
    margin: 20px auto;
    padding: 10px;
    box-shadow: 4px -4px 15px rgba(128, 128, 128, 0.8);
}

.delete-button {
    position: absolute; 
    top: 10px;
    right: 10px;
}

.edit-response-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}