<%- include('../partials/userHeader'); %>

    <div class="login-form">
        <h1 class="login-title">Create an account</h1>
        <form action="/users/signup" method="post">
            Username: <input type="text" name="username"/><br>
            Password: <input type="password" name="password"/><br>
            <input type="submit" value="Sign up">
        </form>
        <h4>Already have an account?</h4>
        <a href="/users/login">Log in here</a>
    </div>

<%- include('../partials/footer'); %>