<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dev Forum | Log in/Sign up</title>
</head>

<body>
    <div class="signup-form">
        <h1 class="signup-title">Create an account</h1>
        <form action="/users/signup" method="post">
            Username: <input type="text" name="username"/><br>
            Password: <input type="password" name="password"/><br>
            <input type="submit" value="Sign up">
        </form>
        <h4>Already have an account?</h4>
        <a href="/users/login">Log in here</a>
    </div>

<%- include('../partials/footer'); %>